body{
    display: grid;
    min-height: 100vh;
}

.main{
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}
.main .grid{
    grid-template-columns: repeat(3,1fr);
}
[class^="main_cards_"]{
    font-family: var(--font-2);
    box-shadow: var(--shadow-1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 20px; 
    transition: 0.2s ease-in-out;
}
[class^="main_cards_"]:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.tag{
    font-size: var(--h3);
    font-weight: bold;
    text-transform: capitalize;
}
.price{
    display: flex;
    gap: 5px;
    align-items: center;
}
.amount{
    font-size: var(--h1);
    font-weight: 300px;
}
.info{
    font-size: var(--h5);
}
.features{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--h3);
}
.purchase_btn{
    margin: 10px 0;
}

@media (max-width: 1200px){
    .main .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px) {
    .main .grid{
        grid-template-columns: repeat(1,1fr);
    }
}